################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug
/bin/Debug
/.vs/TPS_PAV/v16
